#pragma once

#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

#define FIREBASE_API_KEY "YOUR_FIREBASE_WEB_API_KEY"
#define DEVICE_EMAIL "YOUR_DEVICE_EMAIL"
#define DEVICE_PASSWORD "YOUR_DEVICE_PASSWORD"

#define FIREBASE_PROJECT_ID "incuevue-app"
